[submodule "mods/libs/lib_chatcmdbuilder"]
	path = mods/libs/lib_chatcmdbuilder
	url = https://github.com/rubenwardy/ChatCmdBuilder
[submodule "mods/crafting"]
	path = mods/crafting
	url = https://github.com/rubenwardy/crafting
[submodule "mods/areas"]
	path = mods/areas
	url = https://github.com/rubenwardy/areas
[submodule "mods/content/oil"]
	path = mods/content/oil
	url = https://github.com/rubenwardy/oil
