[submodule "mods/libs/lib_chatcmdbuilder"]
	path = mods/libs/lib_chatcmdbuilder
	url = https://github.com/rubenwardy/ChatCmdBuilder
[submodule "mods/crafting"]
	path = mods/crafting
	url = https://github.com/rubenwardy/crafting
