[submodule "mods/libs/lib_chatcmdbuilder"]
	path = mods/libs/lib_chatcmdbuilder
	url = https://github.com/rubenwardy/ChatCmdBuilder
[submodule "mods/areas"]
	path = mods/areas
	url = https://github.com/CapitalismGame/areas
[submodule "mods/content/oil"]
	path = mods/content/oil
	url = https://github.com/rubenwardy/oil
[submodule "mods/mechanics/node_io"]
	path = mods/mechanics/node_io
	url = https://github.com/auouymous/node_io.git
[submodule "mods/mechanics/fluid_lib"]
	path = mods/mechanics/fluid_lib
	url = https://gitlab.icynet.eu/evert/fluid_lib.git
